@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.btn-blue{
    background-color: #289BDE;
}

.btn-blue:hover{
    background-color: #289BDE;
}

.text-blue{
    color: #289BDE;
}

.btn-white{
    color: #289BDE;
    background-color: white;
}

.icon{
    background-color: #242424;
    color: white;
}